:root {
    --nav-gap: 0.8rem;
    --sidebar-bg-color: rgb(46, 46, 46);/*rgb(24, 103, 69); */
    --searchbar-bg-color: rgba(227, 227, 227, 0.794);
}

html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 12px;
}

img {
    height: 2.5rem;
    width: 2.5rem;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.logo,
.navbar li {
    display: grid;
    grid-template-columns: 8rem auto;
    align-items: center;
    gap: var(--nav-gap);
}

.logo {
    margin-bottom: 2rem;
}

.logo p {
    font-size: 2.5rem;
    margin: 0;
}

.logo img {
    height: 5rem;
    width: 5rem;
    padding: 0;
    justify-self: center;
    margin: 0;
}

.container {
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) / 20% 80%;
}

.sidebar {
    padding: 2rem;
    grid-row-end: span 2;
    background-color: var(--sidebar-bg-color);
    color: white;
    font-weight: bold;
}

.navbar {
    display: grid;
    gap: 5rem;
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 2rem;
}

.navbar p {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
}

.navbar img {
    height: 2.5rem;
    width: 2.5rem;
    justify-self: center;
}

.profile-pic {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}

.profile-pic.mini {
    height: 5rem;
    width: 5rem;
}

.header {
    display: grid;
    grid-template: 5rem 6rem / 70% auto;
    padding: 2rem 4rem;
    gap: 2rem;
}

.search-bar {
    display: grid;
    grid-template-columns: 4rem auto;
    align-items: center;
}

.search-bar > input {
    height: 3rem;
    width: 90%;
    background-color: var(--searchbar-bg-color);
    border: 0;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
}

.profile-alarm {
    display: grid;
    grid-template-columns: 2.5rem 5rem auto;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.profile-alarm > button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.profile-alarm > p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.user-info {
    display: grid;
    grid-template: 40% 60% / 6rem auto;
    gap: 0.5rem 2rem;
    height: 6rem;
}

.user-info > .profile-pic {
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

.user-info > p {
    margin: 0;
}

.hello {
    /* grid-column: 2 3; */
    align-self: self-end;
    font-size: 1.5rem;
    font-weight: 500;
}

.username {
    /* grid-row: 2 3;
    grid-column: 2 3; */
    font-size: 2.5rem;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.buttons > button {
    font-size: 1.25rem;
    font-weight: bold;
    height: 2.5rem;
    color: white;
    background-color: var(--sidebar-bg-color);
    border: 0;
    border-radius: 2rem;
}

.main-content {
    padding: 2rem;
    display: grid;
    grid-template: repeat(2, auto) / calc(70% - 1rem) calc(30% - 1rem);
    gap: 2rem;
    background-color: rgb(27, 27, 27);
    color: white;
}

.projects,
.announcements {
    display: grid;
    grid-template-rows: 1.5rem auto;
    gap: 2rem;
}

.projects {
    grid-row-end: span 2;
}

.section-header,
.project-title,
.announcement-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.project-items {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    grid-template-rows: repeat(3, 18rem);
    gap: 2rem;
    color: black;
}

.project-buttons {
    justify-self: end;
}

.project-buttons > button {
    background-color: transparent;
    border: 0;
    height: 3rem;
    width: 3rem;
}

.project-buttons img {
    height: 100%;
    width: 100%;
}

.project {
    padding: 2em;
    background: linear-gradient(to right,
        gray 0%,
        gray 2%,
        white 2%,
        white 100%
    );
    border-radius: 0.5rem;

    display: grid;
    grid-template-rows: 1.5rem 7.5rem 3rem;
    gap: 1rem;
    height: max-content;
}

.project-description,
.summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Specify the number of lines */
    -webkit-box-orient: vertical;

    font-size: 1.25rem;
    line-height: 1.5rem;
    max-height: 4.5rem;
    width: 100%;
    margin: 0;
}

.announcements {
    height: max-content;
}

.announcement-items {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.announcement {
    display: grid;
    grid-template-rows: 1.5rem 4.5rem;
    gap: 1rem;
    padding: 1rem 0;
}

.announcement:first-child ~ .announcement {
    border-top: 1px solid var(--searchbar-bg-color);
}