:root {
    --nav-gap: 0.8em;
    --sidebar-bg-color: rgb(46, 46, 46);/*rgb(24, 103, 69); */
    --searchbar-bg-color: rgba(227, 227, 227, 0.794);
}

html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 12px;
}

img {
    height: 2.5em;
    width: 2.5em;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.logo,
.navbar li {
    display: grid;
    grid-template-columns: 8em auto;
    align-items: center;
    gap: var(--nav-gap);
}

.logo {
    margin-bottom: 2em;
}

.logo p {
    font-size: 2.5em;
    margin: 0;
}

.logo img {
    height: 5em;
    width: 5em;
    padding: 0;
    justify-self: center;
    margin: 0;
}

.container {
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) / 20% 80%;
}

.sidebar {
    padding: 2em;
    grid-row-end: span 2;
    background-color: var(--sidebar-bg-color);
    color: white;
    font-weight: bold;
}

.navbar {
    display: grid;
    gap: 5em;
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 2em;
}

.navbar p {
    font-size: 2em;
    margin: 0;
    font-weight: 500;
}

.navbar img {
    height: 2.5em;
    width: 2.5em;
    justify-self: center;
}

.profile-pic {
    border-radius: 50%;
    height: 6em;
    width: 6em;
}

.profile-pic.mini {
    height: 5em;
    width: 5em;
}

.header {
    display: grid;
    grid-template: 5em 6em / 70% auto;
    padding: 2em 4em;
    gap: 2em;
}

.search-bar {
    display: grid;
    grid-template-columns: 4em auto;
    align-items: center;
}

.search-bar > input {
    height: 3em;
    width: 90%;
    background-color: var(--searchbar-bg-color);
    border: 0;
    border-radius: 2em;
    padding: 1em;
    font-size: 1.25em;
}

.profile-alarm {
    display: grid;
    grid-template-columns: 2.5em 5em auto;
    align-items: center;
    justify-content: end;
    gap: 2em;
}

.profile-alarm > button {
    height: 2.5em;
    width: 2.5em;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.profile-alarm > p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.user-info {
    display: grid;
    grid-template: 40% 60% / 6em auto;
    gap: 0.5em 2em;
    height: 6em;
}

.user-info > .profile-pic {
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

.user-info > p {
    margin: 0;
}

.hello {
    /* grid-column: 2 3; */
    align-self: self-end;
    font-size: 1.5em;
    font-weight: 500;
}

.username {
    /* grid-row: 2 3;
    grid-column: 2 3; */
    font-size: 2.5em;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: end;
    gap: 2em;
}

.buttons > button {
    font-size: 1.25em;
    font-weight: bold;
    height: 2.5em;
    color: white;
    background-color: var(--sidebar-bg-color);
    border: 0;
    border-radius: 2em;
}

.main-content {
    padding: 2em;
    display: grid;
    grid-template: repeat(2, calc(50% - 1em)) / calc(70% - 1em) calc(30% - 1em);
    gap: 2em;
    background-color: rgb(27, 27, 27);
    color: white;
}

.projects {
    grid-row-end: span 2;
    display: grid;
    grid-template-rows: 1.5em auto;
    gap: 2em;
}

.section-header,
.project-title {
    font-size: 1.5em;
    font-weight: bold;
}

.project-items {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1em));
    gap: 2em;
    color: black;
}

.project-buttons {
    justify-self: end;
}

.project-buttons > button {
    background-color: transparent;
    border: 0;
    height: 3em;
    width: 3em;
}

.project-buttons img {
    height: 100%;
    width: 100%;
}

.project {
    padding: 2em;
    background: linear-gradient(to right,
        gray 0%,
        gray 2%,
        white 2%,
        white 100%
    );
    border-radius: 0.5em;

    display: grid;
    grid-template-rows: 1.5em auto 3em;
    gap: 1em;
}

.project-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Specify the number of lines */
    -webkit-box-orient: vertical;

    font-size: 1.5em;
    line-height: 1.5em;
    max-height: 4.5em;
    width: 100%;
    margin: 0;
}